@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: bold;
}

body {

  background-color: black;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 200%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  padding-bottom: 30px;
  font-size: 300%;
}

img {
  max-width: 100%;
  height: 90%;
  width: 85%;
}

.product-card {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  display: block;
}

button {
  margin-bottom: 10%;
  border-radius: 25px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 176%;
  color: white;
  background-color: black;
  height: 50px;
  width: 85%;
}

h1.popup-title {
  color: black;
  font-family: 'Raleway', sans-serif;
}

.popup-para {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.close {
  width: auto;
  background: white;
  margin-bottom: 0%;
  background: transparent;
  float: right;
}


ul {
  text-align: center;
  list-style-position: inside;
}

p {
  color: black;
  font-family: 'Raleway', sans-serif;
}

i{
  background-color: white;
  color: black
}

#popupBox {
  background: white;
  margin-top: 50%;
  padding-bottom: 7%;
  z-index: 100000 !important;
  border-radius: 4%;
  padding-left: 10px;
  padding-right: 10px;
} 

.popup {
  display: block;
  background: white;
  margin-top: 50%;
  padding-bottom: 7%;
  z-index: 100000 !important;
  border-radius: 4%;
  padding-left: 30px;
  padding-top: 1px;
  padding-right: 10px;
  width: 80%;
  text-align: center;
}

.popupinside {
    clear: both;
}

#card{
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  display: block;
}

.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;             /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;                   /* text area height */
  width:225px;                   /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                 /* offset horizontal: half of text area width */
}